/* Login Scene */
.root {
    -fx-background: linear-gradient(to top,rgb(71, 9, 9),rgb(226, 94, 94));
}

/* Logo Text */
Text {
    -fx-fill:rgb(255, 255, 255);
}

/* Text Color */
Label, Text {
    -fx-text-fill: #E0E0E0; 
    -fx-font-family: "Montserrat", sans-serif;
}

/* TextField Style */
TextField {
    -fx-background-color: #1C1C1C; 
    -fx-text-fill: #E0E0E0; 
    -fx-border-color: #333333; 
    -fx-border-radius: 5px;
    -fx-padding: 8px;
}

TextField:focused {
    -fx-border-color: #F44336;
}

/* or-Spacer */
#or_spacer {
    -fx-fill: #E0E0E0;
    -fx-font-size: 14px; 
    -fx-font-family: "Arial"; 
}

/* Button Style */
Button {
    -fx-background-color:rgb(177, 45, 36);
    -fx-text-fill: white;
    -fx-font-size: 14px; 
    -fx-font-weight: bold;
    -fx-padding: 5px 12px;
    -fx-background-radius: 2px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0, 0, 3);
}

Button:hover {
    -fx-background-color:rgb(140, 18, 18);
}

/* Rectangle Shape 1: bottomRectShape */
#bottomRectShape {
    -fx-fill: #1C1C1C;
    -fx-stroke: rgb(51, 51, 51);
    -fx-stroke-type: INSIDE;
    -fx-arc-height: 10px;
    -fx-arc-width: 10px; 
    -fx-width: 1070px;
    -fx-height: 77px;
    -fx-layout-x: 5px;
    -fx-layout-y: 116px;
}

/* Rectangle Shape 2: topLineShape */
#topLineShape {
    -fx-fill: #1C1C1C;
    -fx-stroke: rgb(51, 51, 51);
    -fx-stroke-type: INSIDE;
    -fx-arc-height: 10px;
    -fx-arc-width: 10px; 
    -fx-width: 1070px;
    -fx-height: 7px;
    -fx-layout-x: 5px;
    -fx-layout-y: 99px;
}

#joinTodayLabel {
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size: 42px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-letter-spacing: 2px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 8, 0, 0, 5);
    -fx-padding: 10px;"
    -fx-font-weight: bold;
}
